<div class="commit-details">
  <p class="sha" ng-bind="commit.sha"></p>

  Additions {{commit.stats.additions}}
  Deletions {{commit.stats.deletions}}
  {{commit.html_url}}
  <div ng-repeat="file in commit.files">
    <p><strong ng-bind="file.filename"></strong></p>


    {{file.status}}
    {{file.changes}}
    {{file.additions}}
    {{file.deletions}}
    <div class="diff">
      <span ng-repeat="line in files[$index]" class="code {{line.css}}" ng-bind="line.line"></span>
    </div>
  </div>
</div>
