<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1 ng-bind="heading"></h1>
      <h2 ng-bind="repo.name"></h2>
    </div>
  </div>
  <div class="row">
    <div class="four columns">

      <p>Activity in the past <span ng-bind="days"></span> days:</p>
      <div ng-repeat="commit in commits" class="commit">
        <img class="avatar pull-left" ng-src="{{avatarUrl(commit)}}"/>
        <div class="commit-meta clearfix">
          <p class="commited-by"><strong ng-bind="commit.author.login"></strong></p>
          <p class="commited-on">commited on <span ng-bind="commit.commit.author.date | date: 'MMMM d'"></span></p>
        </div>
        <div class="commit-message">
          <p><a ng-click="getCommit($index)" href="" ng-bind="commit.commit.message"></a></p>
        </div>
      </div>

    </div>
    <div class="eight columns">
      <div commit="commit">
      </div>
    </div>
  </div>
</div>
