.starry:before {
  content: "\2605";
}
.avatar {
  width: 50px;
}

.diff {
  background-color: #f1f1f1;
  margin: 1em 0px;
  padding: 1em;
}
.diff pre, .diff code {
  margin: 0;
}
.diff .code {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0;
}
.diff .added {
  color: #0f0;
}
.diff .removed {
  color: #f00;
}
